<div class="xiangqing">
	<yu-header title="职位详情" is-show="true"></yu-header>
	<div class="jobTitle">
		<span>{{dtaa.job}}</span>
		<span>statr<br />收藏</span>		
	</div>
	<div class="jobInfo">
		<div>{{dtaa.salaryName}}</div>
		<div>{{dtaa.cityName}}</div>
		<div>全职</div>
		<div>{{dtaa.experience}}</div>
		<div>{{dtaa.education}}</div>
		<div></div>
	</div>
	<p class="jie">职位诱惑：<span>{{dtaa.benefit}}</span></p>
	<yu-company data="com"></yu-company>
	<div class="jobDescription">职位描述</div>
	<p class="detil">{{dtaa.description}}</p>
	<div class="jobDescription">面试评价(0)</div>
	<p class="detil">面试内容</p>
	<div class="xiangqing_footer">投个简历</div>
</div>